@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  background: #1a1a1a; /* Oscuro, pero no negro jeje */
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  background: rgba(255, 255, 255, 0.05); /* Le da transparencia */
  backdrop-filter: blur(10px); /* Difumina lo de atrás */
  -webkit-backdrop-filter: blur(10px); /* Safari */
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.15); /* Sutil marco blanco */
  padding: 1.5rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); /* Sombras suaves */
}
